<div id="sign_in">
  <div class="sign-area">
    <div class="home-area">
      <a class="home-link" href="/">홈으로</a>
    </div>
    <maintitle></maintitle>
    <registration></registration>
  </div>
</div>
<style type="text/css" scoped>
  #main-title {
    height: 125px;
  }
  .title {
    font-size: 55px;
    line-height: 125px;
  }
  .home-link {
    font-size: 20px;
    width: fit-content;
    float: right;
    margin: 10px 30px;
  }
  .sign-area {
    width: 45%;
    margin: 35px auto;
  }
</style>