<div id="app">
  <navigation></navigation>
  <maintitle></maintitle>
  <searchbar></searchbar>
</div>
<style type="text/css" scoped>
  #main-title {
    height: 320px;
  }
  .title {
    font-size: 70px;
    line-height: 400px;
  }
</style>